#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.songsDiv {
  display: flex;
  padding: 20px;
  will-change: filter;
  transition: filter 300ms;
}

.songDiv {
  height: 270px;
  width: 250px;
  padding: 20px;
  will-change: filter;
  transition: filter 300ms;
}
.songDiv:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.songDiv.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.read-the-docs {
  color: #888;
}
